# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Django
*.log
db.sqlite3
app/staticfiles/
app/media/

# Environment
.env
.env.*
!.env.example

# Docker
pgdata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
